    body {
      font-family: Arial, Helvetica, sans-serif; 
      background-image: url("profile_picture.jfif");
      background-position: center right; 
      background-repeat: no-repeat;
	    background-color: gray;
    } 
    
    .header {
      padding: 60px;
      text-align: center;
      background: #1abc9c;
      color: white;
      font-size: 30px;
    }

    .work{
      padding: 30px 0px 0px 0px;
      text-align: center;
      background: rgb(138, 235, 202); 
      color: white;
      font-size: 30px;
    }

    .contain {
      padding: 60px 60px 60px 150px;
      border-top: 1px solid white;
      margin: 0 30px 30px 30px;
    }
    .mock {
      float: left ;
      padding: 0 0 0 40px;
    }   

    h1 {
      text-align: center; 
      margin: 0;
      padding: 0;
      font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h2 {
      text-align: center;
      height: 20%;
      padding: 0;
      font-size: 1em;
      font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h3 {
      text-align: left;
      padding: 0 0 0px 0;
      margin: 0 30px 0 30px;
      font-size: 1.2em;
      color: white;
      font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      border-bottom: thick double white;
    }

    h4 {
      text-align: center;
      height: 20%;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      font-family: satisfy, sans-serif;
      font-family: flood-std, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
    }

    li {
      list-style:none;
      font-size: .5em;
    }

	  a.data {
      color: white;
      text-overflow: ellipsis;
      width: 23.7%;
			display:inline-block;
      overflow:hidden;
      vertical-align:top;
			font-size: 20px;
			text-align:center;
			border:5px outset silver; 
    }
 
    .mocktext {
     float: left ;
     padding: 30px 10px 0 10px;
    }

    .display {
      display: inline;
    }
    
    #mock1 {
      float: left ;
      padding: 0px 0 0 50px;
    }  

    #mock2 {
      float: left ;
      padding: 0 50px 0 0;
    }   

    #mock3 {
      float: left ;
      padding: 0 0 0 10px;
    }   

    #prof {
      float: right ;
      padding: 0 0 0 10px;
    }   

  #background_list{
    border-color: green;
    padding-left: 20%;
    text-align: left;
  }
 .container {
  width: 75%;
  margin:0 auto;
  background: rgb(138, 235, 202); 
  background: rgb(138, 235, 202); 
 }
#resume_link{
   width:800px;
   height:100px;
   border:6px solid black;
   background:#ccc;
   display:inline;
   text-align:center;
}


